<!DOCTYPE html>
<html lang="en">
<head>
  <%= render partial: 'layouts/head' %>
  <style>
    .box {
      padding-top: 5px;
    }
    h1 {
      text-align: center;
      font-size: 30px;
      padding-bottom: 5px;
    }
  </style>
  
</head>
<body>
    <%= render partial: 'layouts/navbar' %>
  <div>
      <div class="box">
      <h1 class="title">Your Posts </h1>
          <% @posts.each_with_index do |post, index| %>
            <div class="columns">
              <%# if index == 0 or index % 3 == 0%>
              <div class="column is-one-third" id = "c1">  
                 <%# render partial: 'layouts/image-grid', locals: {post: post} %>
              </div>
              <%# elsif index % 3 == 1 %>
              <div class="column is-one-third" id = "c2">
                  <%= render partial: 'layouts/image-grid', locals: {post: post} %>
              </div>
              <%# elsif index % 3 == 2 %>
              <div class="column is-one-third" id = "c3">
               <%# render partial: 'layouts/image-grid', locals: {post: post} %>
              </div>
              <%# end %>
          </div>
        <% end %>
      </div>
  </div>
  
  <br>
  
  <% link_to 'New Post', new_post_path %>
  <%= render partial: 'layouts/footer' %>
</body>
</html>