<!DOCTYPE html>
<html lang="en">
<head>
  <%= render partial: 'layouts/head' %>
  <style>
    .box {
      padding-top: 5px;
    }
    h1 {
      text-align: center;
      font-size: 30px;
      padding-bottom: 5px;
    }
  </style>
</head>
<body>
    <%= render partial: 'layouts/navbar' %>
  <div>
      <div class="box">
      <h1 class="title">Others' Posts </h1>
          <% @posts.each do |post| %>
            <div class="columns">
              <div class="column"></div>
              <div class="column">
                <%= render partial: 'layouts/image-grid', locals: {post: post} %>
              </div>
              <div class="column"></div>
          </div>
        <% end %>
      </div>
  </div>
  <br>
  <%= render partial: 'layouts/footer' %>
</body>
</html>